.requests-table {
  background-color: var(--white-color);
  width: 90%;
  margin: 30px auto;
}
.requests-table thead {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: var(--pink-color) !important;
  border-bottom: 1.5px solid var(--black-color);
}
.requests-table tr {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.requests-table th {
  width: 25%;
  text-align: center;
}
.requests-table td {
  width: 25%;
}
.gains {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  align-items: center;
  width: 90%;
  background-color: var(--white-color);
  margin: 20px auto;
}
.gains p {
  margin: 0;
}
.links {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 20px auto;
}
.links a {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: var(--pink-color);
  color: var(--white-color);
  border-radius: 5px;
}
.links a:hover {
  background-color: var(--black-color);
  color: var(--pink-color);
}
.filter {
  width: 90%;
  margin: 20px auto;
  display: flex;
  gap: 20px;
}
.filter input {
  border-radius: 10px;
  border-color: transparent;
}
.filter select {
  border-radius: 10px;
  border-color: transparent;
}
.filter button {
  border-radius: 10px;
  background-color: var(--pink-color);
  color: var(--black-color);
  border-color: transparent;
}

#status {
  width: 200px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border: transparent;
  border-radius: 5px;
  padding: 10px;
}

#status option:hover {
  background-color: #f5f5f5;
}

#status:focus {
  outline: none;
  border-color: var(--pink-color);
  box-shadow: 0 0 20px var(--pink-color);
}

#nome {
  width: 230px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border: transparent;
  border-radius: 5px;
  padding: 10px;
}

#data {
  width: 200px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border: transparent;
  border-radius: 5px;
  padding: 10px;
}

#data option:hover {
  background-color: #f5f5f5;
}

#data:focus {
  outline: none;
  border-color: var(--pink-color);
  box-shadow: 0 0 20px var(--pink-color);
}

.requests-table {
  border-collapse: collapse;
}

.requests-table th,
.requests-table td {
  padding: 8px;
}

.requests-table tr:nth-child(even) {
  background-color: var(--pink-color);
}

.requests-table tr:nth-child(odd) {
  background-color: #f9d9e2;
}

.custom-modal-header {
  background-color: #f9d9e2;
}

.custom-modal-body {
  font-weight: bold;
  color: #333;
}

.custom-modal-footer {
  background-color: #f9d9e2;
}

.custom-modal-button {
  color: #fff;
  background-color: var(--pink-color);
  border-color: var(--pink-color);
}

.custom-modal-button:hover {
  color: #fff;
  background-color: var(--pink-color);
  border-color: var(--pink-color);
}

.custom-modal-body .product-details {
  border: 1px solid black;
  padding: 10px;
}
