.lista {
    background-color: #FCFBFF;
    display: flex;
}
#imges{
    max-width: 340px;
    width: 100%;
}

.lista ul{
    margin-top: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lista {
    background: rgb(245,156,199);
    background: linear-gradient(90deg, rgba(245,156,199,1) 0%, rgba(255,207,230,1) 35%, rgba(242,224,230,1) 100%);
}

.elementos{
    display: inline-block;
    margin-left: 110px;
    color: #000000;
    font-weight: bold;
}
.elementos:hover{
    cursor: pointer;
}

.login{
    font: 14px;
    font-family: 'Hind', sans-serif;
    font-family: 'Manrope', sans-serif;
    background-color: #E89EC3;
    color: black;
    padding: 10px 15px;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-left: 120px;
}

.login:hover{
    box-shadow: 4px 4px 13px -2px rgba(0,0,0,0.75);
    color: #000000;
    cursor: pointer;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
