footer {
    background: rgb(245,156,199);
    background: linear-gradient(90deg, rgba(245,156,199,1) 0%, rgba(255,207,230,1) 35%, rgba(242,224,230,1) 100%);
}

.footerPage, 
.footer{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}