.imgs{
    background-color: #C8B6FFAD;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -200px;
}
#imgss{
    margin-left: 165px;
    width: 300px;
}
 #textos{
    font-size: 18px;
    width: 300px;
    margin-left: 500px;
 }
 #textos1{
    font-size: 18px;
    width: 300px;
    margin-left: 950px;
    margin-top: -60px;
 }
 #textos2{
    font-size: 18px;
    margin-left: 1430px;
    margin-top: -60px;
    width: 300px;
 }