.Lista {
    background-color: #FCFBFF;
    display: flex;
}
#imges{
    width: 110px;
    margin-left: 170px;
}

.Lista h1{
    margin-left: 100px;
    color: #C8B6FFAD;
}
.Lista ul{
    margin-left: 300px;
    margin-top: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.elementos{
    display: inline-block;
    margin-left: 110px;
    color: #000000;
    font-weight: bold;
}
.elementos:hover{
    cursor: pointer;
}

.login{
    margin-left: 480px;
    background-color: #C8B6FFAD;
    border-radius: 90px;
    border: none;
    padding-inline: 13px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.login:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}


