.images {
    padding: 30px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
}

.images img {
    width: 300px;
    border-radius: 10%;
}

.barra {
    display: flex;
}

.barra hr {
    height: 8px;
    width: 80%;
    background-color: rgb(255, 0, 149);
    border-color: rgb(255, 0, 149);
    margin-left: 70px;
}

.bolinhas {
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 170px;
}

.bolinhas  a{
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 13px;
    background-color: white;
    color: black;
}

.textos {
    display: flex;
    justify-content: space-around;
    margin-left: -90px;
    padding-bottom: 40px;
   
}

.textos p {
    size: 12;
    height: fit-content;
    width: 300px;
}