@media screen and (max-width: 425px) {
  #header {
    background: var(--pink-to-soft-pink-color);
    height: fit-content;
    width: 100%;
  }
  #header-logo { 
    max-width: 320px; 
    margin: 10px auto;
  }
  .list ul {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .list li {
    margin: 20px 0 10px 0;
  }  
}